@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Обнуление стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html, body {
  height: 100%;
}

html {
  font-style: 16px;
}

body {
  font-family: "Poppins";
  line-height: 1;
  color: #000;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

/***************************************/
.mainpage {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

@media (max-width: 1230px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  [class*=__container] {
    max-width: none;
  }
}
.login-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 40px 18px 91px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #191c22;
}
@media (max-width: 767px) {
  .login-header {
    padding: 17px 16px 18px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 16px;
    text-align: center;
  }
}
.login-header__talk-our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
@media (max-width: 767px) {
  .login-header__talk-our-team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 16px;
  }
}
.login-header__count {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #008765;
  text-decoration: none;
}
.login-header__login {
  text-decoration: none;
  color: #191c22;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .login-header__login:hover {
    color: #008765;
  }
}

.payments-control {
  padding: 0px 16px;
}
.payments-control__body {
  background: url(../img/header-cover.webp) center/cover no-repeat;
  border-radius: 24px;
  padding: 40px 48px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}
@media (max-width: 991.98px) {
  .payments-control__body {
    padding: 40px 15px 0px 15px;
  }
}
@media (max-width: 767px) {
  .payments-control__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 15px 0px 15px;
  }
}
.payments-control__started {
  max-width: 112px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
  text-decoration: none;
  text-align: right;
  margin-bottom: 54px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (max-width: 767px) {
  .payments-control__started {
    text-align: center;
    margin-bottom: 0px;
  }
}
@media (any-hover: hover) {
  .payments-control__started:hover {
    color: #008765;
  }
}
.payments-control__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 112%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 757px;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 767px) {
  .payments-control__title {
    font-size: 34px;
  }
}
.payments-control__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px) {
  .payments-control__subtitle {
    font-size: 14px;
  }
}
.payments-control__btn {
  margin-bottom: -56px;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: #fff;
  background: #0075e3;
  border-radius: 4px;
  padding: 16px 84px 16px 41px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
@media (max-width: 767px) {
  .payments-control__btn {
    font-size: 14px;
    padding: 8px 8px 8px 8px;
    margin-bottom: -36px;
  }
}
@media (any-hover: hover) {
  .payments-control__btn:hover {
    background-color: #2b92f1;
  }
}
.payments-control__btn::after {
  position: absolute;
  top: 19px;
  right: 32px;
  display: inline-block;
  content: "";
  background: url(../img/btn.svg) 0 0 no-repeat;
  width: 27px;
  height: 27px;
}
@media (max-width: 767px) {
  .payments-control__btn::after {
    display: none;
  }
}
.payments-control__conditions {
  padding: 95px 118px 0px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1230px) {
  .payments-control__conditions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
  }
}
@media (max-width: 767px) {
  .payments-control__conditions {
    padding: 95px 16px 0px 16px;
  }
}
.payments-control__condition {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #000;
}
@media (max-width: 767px) {
  .payments-control__condition {
    font-size: 14px;
  }
}
.payments-control__condition::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0px;
  width: 27px;
  height: 27px;
  background: url(../img/ok.svg) center/cover no-repeat;
}
@media (max-width: 767px) {
  .payments-control__condition::before {
    width: 20px;
    height: 20px;
  }
}
.payments-control__condition::after {
  content: "";
  position: absolute;
  right: -24px;
  top: 0px;
  width: 20px;
  height: 20px;
  background: url(../img/question.svg) center/cover no-repeat;
}
@media (max-width: 1230px) {
  .payments-control__condition::after {
    position: static;
    display: inline-block;
    vertical-align: bottom;
  }
}
@media (max-width: 767px) {
  .payments-control__condition::after {
    display: none;
  }
}

.news {
  padding-top: 60px;
  padding-left: 70px;
}
@media (max-width: 1230px) {
  .news {
    padding-left: 16px;
  }
}
.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 57px;
}
.news__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #008765;
  text-decoration: none;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .news__text:hover {
    color: #191c22;
  }
}
.news__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
}
.caribou {
  padding-top: 120px;
}
@media (max-width: 991.98px) {
  .caribou {
    padding-top: 60px;
  }
}
.caribou__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 152px;
     -moz-column-gap: 152px;
          column-gap: 152px;
}
@media (max-width: 991.98px) {
  .caribou__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 25px;
  }
}
.caribou__app {
  max-width: 516px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.caribou__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.caribou__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 111px;
  max-width: 475px;
}
@media (max-width: 991.98px) {
  .caribou__text {
    padding-top: 0px;
  }
}
.caribou__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #008765;
  text-decoration: none;
  margin-bottom: 11px;
}
@media (max-width: 767px) {
  .caribou__link {
    font-size: 14px;
  }
}
.caribou__title {
  max-width: 371px;
  font-weight: 400;
  font-size: 48px;
  line-height: 117%;
  color: #000;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .caribou__title {
    font-size: 36px;
  }
}
.caribou__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #636363;
  margin-bottom: 52px;
  max-width: 470px;
}
@media (max-width: 767px) {
  .caribou__subtitle {
    font-size: 16px;
  }
}
.caribou__btn {
  max-width: 221px;
}

.button {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: #fff;
  padding: 15px 32px 17px 32px;
  background: #0075e3;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #2b92f1;
  }
}
@media (max-width: 767px) {
  .button {
    font-size: 16px;
  }
}

.quote {
  padding-top: 80px;
}
@media (max-width: 767px) {
  .quote {
    padding-top: 40px;
  }
}
.quote__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}
.quote__img {
  width: 100%;
  height: 100%;
}

.insurance__body {
  padding: 55px 40px 40px 16px;
  border-radius: 0 0 16px 16px;
  background-color: #09414e;
}
.insurance__overheading {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #008765;
}
@media (max-width: 767px) {
  .insurance__overheading {
    font-size: 14px;
  }
}
.insurance__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 117%;
  color: #fff;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .insurance__title {
    font-size: 36px;
  }
}
.insurance__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
  max-width: 1144px;
  margin-bottom: 52px;
}
@media (max-width: 767px) {
  .insurance__subtitle {
    font-size: 16px;
  }
}
.insurance__btn {
  border-radius: 4px;
  text-align: center;
  padding: 15px 32px 12px 32px;
  background-color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #000;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color, color 0.3s ease 0s;
  transition: background-color, color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .insurance__btn:hover {
    background-color: #2b92f1;
    color: #fff;
  }
}

.discover {
  padding-top: 191px;
}
@media (max-width: 767px) {
  .discover {
    padding-top: 91px;
  }
}
.discover__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discover__overheading {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #008765;
  margin-bottom: 11px;
}
@media (max-width: 991.98px) {
  .discover__overheading {
    font-size: 15px;
  }
}
.discover__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 117%;
  text-align: center;
  color: #000;
  margin-bottom: 21px;
}
@media (max-width: 991.98px) {
  .discover__title {
    font-size: 36px;
  }
}
.discover__subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 188%;
  text-align: center;
  color: #636363;
  margin-bottom: 56px;
}
@media (max-width: 991.98px) {
  .discover__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .discover__subtitle {
    margin-bottom: 26px;
  }
}
.discover__btn {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
  text-decoration: none;
  margin-bottom: 56px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.discover__btn::after {
  position: absolute;
  top: 0px;
  right: -43px;
  content: "";
  background: url(../img/btn.svg) 0 0 no-repeat;
  width: 27px;
  height: 27px;
}
@media (any-hover: hover) {
  .discover__btn:hover {
    color: #008765;
  }
}
@media (max-width: 767px) {
  .discover__btn {
    margin-bottom: 26px;
  }
}
.discover__image {
  width: 100%;
  height: 100%;
}

.customer-stories__body {
  position: relative;
  padding: 79px 56px 0px 48px;
}
@media (max-width: 767px) {
  .customer-stories__body {
    padding: 49px 16px 0px 16px;
  }
}
.customer-stories__overheading {
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  text-transform: uppercase;
  color: #008765;
}
@media (max-width: 767px) {
  .customer-stories__overheading {
    font-size: 14px;
  }
}
.customer-stories__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #000;
  max-width: 546px;
  margin-bottom: 38px;
}
@media (max-width: 991.98px) {
  .customer-stories__title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .customer-stories__title {
    font-size: 28px;
  }
}
.customer-stories__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-bottom: 95px;
}
@media (max-width: 991.98px) {
  .customer-stories__subtitle {
    position: static;
    margin-bottom: 45px;
  }
}
@media (max-width: 767px) {
  .customer-stories__subtitle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.customer-stories__text {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  padding-left: 127px;
}
.customer-stories__text::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  padding-top: 13px;
  margin-right: 12px;
  background: url(../img/star.svg) 0 0 repeat-x;
  width: 115px;
  height: 23px;
  display: inline-block;
}
@media (max-width: 991.98px) {
  .customer-stories__text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .customer-stories__text {
    font-size: 14px;
  }
}
.customer-stories__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #008765;
  text-decoration: none;
}
@media (max-width: 991.98px) {
  .customer-stories__link {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .customer-stories__link {
    font-size: 14px;
  }
}
.slider-customer {
  overflow: hidden;
}
.slider-customer__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  top: 208px;
  right: 56px;
}
@media (max-width: 1230px) {
  .slider-customer__control {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
@media (max-width: 991.98px) {
  .slider-customer__control {
    position: static;
    margin-bottom: 40px;
  }
}
.slider-customer__prev {
  background: url(../img/slider-prev.svg) center/cover no-repeat;
  width: 94px;
  height: 21px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .slider-customer__prev:hover {
    opacity: 0.5;
  }
}
@media (max-width: 1230px) {
  .slider-customer__prev {
    width: 54px;
    height: 12.1px;
  }
}
.slider-customer__next {
  background: url(../img/slider-next.svg) center/cover no-repeat;
  width: 94px;
  height: 21px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .slider-customer__next:hover {
    opacity: 0.5;
  }
}
@media (max-width: 1230px) {
  .slider-customer__next {
    width: 54px;
    height: 12.1px;
  }
}
.slider-customer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slide-customer {
  padding: 32px 35px 24px 32px;
  border-radius: 16px;
  -webkit-box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
}
.slide-customer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slide-customer__raiting {
  background: url(../img/star.svg) 0 0 repeat-x;
  width: 115px;
  height: 23px;
  margin-bottom: 31px;
}
.slide-customer__review {
  margin-bottom: 29px;
  max-width: 280px;
}
.slide-customer__name {
  color: #000;
  margin-bottom: 3px;
}
.slide-customer__date {
  position: relative;
  font-size: 15px;
  padding-left: 30px;
}
.slide-customer__date::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: url(../img/date.svg) 0 0 no-repeat;
  display: inline-block;
  width: 27px;
  height: 20px;
}

.so-borrowers {
  padding-top: 160px;
}
@media (max-width: 767px) {
  .so-borrowers {
    padding-top: 80px;
  }
}
.so-borrowers__body {
  background: url(../img/co-borrowers.webp) center/cover no-repeat;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 94px 10px 100px 10px;
}
.so-borrowers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  margin-bottom: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.so-borrowers__subtitle {
  margin-bottom: 72px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px) {
  .so-borrowers__subtitle {
    font-size: 14px;
  }
}
.title-so-borrowers__text {
  font-weight: 400;
  font-size: 48px;
  line-height: 117%;
  color: #fff;
}
@media (max-width: 767px) {
  .title-so-borrowers__text {
    font-size: 36px;
  }
}

.process-easy {
  padding-top: 79px;
}
@media (max-width: 767px) {
  .process-easy {
    padding-top: 40px;
  }
}
.process-easy__body {
  padding-bottom: 237px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.process-easy__overheading {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #008765;
}
@media (max-width: 767px) {
  .process-easy__overheading {
    font-size: 14px;
  }
}
.process-easy__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 117%;
  text-align: center;
  color: #000;
}
@media (max-width: 767px) {
  .process-easy__title {
    font-size: 36px;
  }
}
.process-easy__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  padding: 110px 51px 0px 52px;
}
@media (max-width: 767px) {
  .process-easy__items {
    padding: 55px 16px 0px 16px;
    row-gap: 16px;
  }
}
.process-easy__start {
  position: absolute;
  left: auto;
  right: auto;
  bottom: -251px;
}

.item-easy-process {
  -webkit-box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  padding: 32px 32px 29px 32px;
}
.item-easy-process__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 167%;
  color: #191c22;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .item-easy-process__title {
    font-size: 18px;
  }
}
.item-easy-process__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #636363;
}
@media (max-width: 767px) {
  .item-easy-process__subtitle {
    font-size: 14px;
  }
}
.item-easy-process__img {
  margin-bottom: 22px;
}

.start-easy-process {
  text-align: center;
  background-color: #0075e3;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 46px;
  padding: 90px 268px 96px 268px;
  max-width: 1152px;
}
@media (max-width: 1230px) {
  .start-easy-process {
    padding: 90px 168px 96px 168px;
  }
}
@media (max-width: 991.98px) {
  .start-easy-process {
    padding: 90px 78px 96px 78px;
  }
}
@media (max-width: 767px) {
  .start-easy-process {
    padding: 90px 16px 96px 16px;
  }
}
.start-easy-process__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 117%;
  text-align: center;
  color: #fff;
  max-width: 617px;
}
@media (max-width: 991.98px) {
  .start-easy-process__title {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .start-easy-process__title {
    font-size: 24px;
  }
}
.button_color {
  background-color: #fff;
  color: #000;
}

.footer__body {
  padding: 358px 129px 0px 112px;
  background-color: #191c22;
}
@media (max-width: 1230px) {
  .footer__body {
    padding: 358px 26px 0px 26px;
  }
}
@media (max-width: 767px) {
  .footer__body {
    padding: 358px 16px 0px 16px;
  }
}
.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 62px;
     -moz-column-gap: 62px;
          column-gap: 62px;
  border-bottom: #47494e 1px solid;
  padding-bottom: 41px;
}
@media (max-width: 1230px) {
  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 36px;
  }
}
@media (max-width: 767px) {
  .menu-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
  margin-bottom: 16px;
}
.menu-footer__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .menu-footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.menu-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.menu-footer__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #fff;
  margin-bottom: 17px;
}
.menu-footer__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #d1d1d1;
  text-decoration: none;
}
.menu-footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.menu-footer__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  text-decoration: none;
}
.menu-footer__count {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #d1d1d1;
}
.menu-footer__schedule {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #d1d1d1;
  max-width: 183px;
  margin-bottom: 54px;
}
.menu-footer__item_width-106 {
  max-width: 106px;
}
.menu-footer__item_width-73 {
  max-width: 73px;
}
.menu-footer__contact_width-168 {
  max-width: 168px;
}
.menu-footer__contact_width-190 {
  max-width: 190px;
  margin-bottom: 14px;
}
.menu-footer__title_margin {
  margin-bottom: 49px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.info-footer {
  padding: 53px 0px 51px 0px;
  border-bottom: #47494e 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.info-footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  color: #d1d1d1;
}

.financial-footer__body {
  padding: 39px 0px 52px 0px;
}
.financial-footer__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 154%;
  color: #d1d1d1;
  margin-bottom: 24px;
}
.financial-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1230px) {
  .financial-footer__links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-column-gap: 16px;
       -moz-column-gap: 16px;
            column-gap: 16px;
    row-gap: 16px;
  }
}
.financial-footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #d1d1d1;
  text-decoration: none;
}